input {
  border-radius: 0;
}

input[type="search"] {
  -webkit-appearance: none;
}

.main-page {
  .section {
    &_colored {
      background: #92b7f1;

      .text {
        text-align: center;
        margin: 0 auto;
        width: 100%;
        padding: 30px 0;

        @include media('<sm') {
          padding: 10px 0;
        }

        p {
          color: white;
          font-size: 16px;
          @include media('<sm') {
            font-size: 12px;
            padding: 3px 10px;
          }
        }
      }

    }

    &_images {
      &_xl {
        .item {
          width: 100%;
          height: 500px;
          @include media('<sm') {
            height: 300px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          }
        }
      }

      &_lg {
        @include media('<sm') {
          .col-md-6.pr-0,
          .col-md-6.pl-0 {
            padding: 0;
            margin: 10px 0;
          }
        }


        .item {
          width: auto;
          height: 500px;
          @include media('<sm') {
            height: 280px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          }
        }
      }

      &_sm {
        @include media('<sm') {
          #mainPageProductsList {
            .col-md-3,
            .col-md-3.pl-0 {
              padding: 0;
              margin: 10px 0;
            }
          }
        }

        .item {
          width: auto;
          height: 360px;
          @include media('<sm') {
            height: 220px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          }
        }
      }

      &_btn {
        position: absolute;
        padding: 15px 21px;
        left: calc(50% - 95px);
        bottom: calc(25% - 25px);
        font-size: 12px;
        text-align: center;
        min-width: 200px;
        min-height: 42px;
        cursor: pointer;
        text-transform: uppercase;
        background-color: #fff;
        color: #000;
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.45);
        transition: .4s;

        &:hover {
          box-shadow: none;
        }

        &_sm {
          position: absolute;
          padding: 12px 18px;
          left: 24%;
          bottom: calc(25% - 25px);
          font-size: 12px;
          text-align: center;
          min-width: 150px;
          min-height: 35px;
          cursor: pointer;
          text-transform: uppercase;
          background-color: #fff;
          color: #000;
          box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.45);
          transition: .4s;

          &:hover {
            box-shadow: none;
          }
        }
      }

    }

    &_notification {
      padding: 50px 80px;
      border: 7px solid gray;
      text-align: center;
      width: 100%;
      max-height: 200px;
      height: 100%;

      @include media('<sm') {
        padding: 10px 20px;
        border: 3px solid gray;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 100px;
        margin-bottom: 10px;
        font-size: 13px;
      }
    }

  }
}