.product-page {
  .item {
	&_photo {
	  .photo {
		width: 100%;
		height: 480px;
		@include media('<sm') {
		  height: 300px;
		}
	  }
	}

	&_descr {
	  .title {
		font-size: 22px;
	  }

	  .price {
		font-weight: 600;
		margin: 10px 0;
	  }

	  .code {
		font-size: 14px;
		color: gray;
	  }

	  .cta_btn {
		display: block;
		padding: 15px 21px;
		border: 0;
		width: 100%;
		margin: 15px 0;
		font-size: 12px;
		text-align: center;
		min-height: 42px;
		cursor: pointer;
		text-transform: uppercase;
		color: #fff;
		background-color: #000;

		&[disabled="disabled"] {
		  background-color: #999999;
		}
	  }

	  .specs {
		.item_availability {
		  font-size: 16px;

		  &.true {
			&:before {
			  content: "";
			  display: inline-block;
			  background: #00c97c;
			  width: 12px;
			  height: 12px;
			  margin-right: 10px;
			  border-radius: 50%;
			}
		  }

		  &.false {
			&:before {
			  content: "";
			  display: inline-block;
			  background: tomato;
			  width: 12px;
			  height: 12px;
			  margin-right: 10px;
			  border-radius: 50%;
			}
		  }
		}
	  }

	  .tab-nav {
		margin: 0;
		padding: 0;

		@include media('<sm') {
		  margin-bottom: 30px;
		}
	  }

	  .tab-link {
		padding: 10px 20px;
		font-size: 13px;
		color: #fff;
		display: inline-block;
		background-color: #b3b3b3;
		text-decoration: none;
		transition: 0.4s;

		@include media('<sm') {
		  width: 100%;
		  margin-bottom: 5px;
		}

		&.is-active {
		  color: #dc446e;
		  background-color: #ebebeb;
		  transition: 0.4s;
		}

		&:last-child {
		  margin-right: 0;
		}

		&:hover {
		  text-decoration: underline;
		  color: #dc446e;
		  background-color: #e7e7e7;
		}
	  }

	  .tab-content {
		display: none;
		background-color: #e7e7e7;
		font-size: 15px;

		&.is-active {
		  display: block;
		  padding: 20px;

		}
	  }

	  .tab-contents {
		margin-bottom: 100px;
		@include media('<sm') {
		  margin-bottom: 20px !important;
		}
	  }
	}
  }
}