.admin {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  &__title {
    font-size: 40px;
    margin-bottom: 40px;
  }
  &_submit {
    margin-top: 20px;
    cursor: pointer;
    border: 1px solid #cecece;
    background: #f6f6f6;
    box-shadow: inset 0px 20px 20px #ffffff;
    border-radius: 8px;
    padding: 8px 14px;
    width: 150px;
    text-align: center;
  }
  &-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;

    input {
      width: 300px;
      font-size: 13px;
      padding: 6px 0 4px 10px;
      margin: 5px 0;
      border: 1px solid #cecece;
      background: #f6f6f6;
      border-radius: 8px;
    }
  }
}

.admin_panel {
  .nav-pills-custom .nav-link {
    color: #aaa;
    background: #fff;
    position: relative;
  }

  .nav-pills-custom .nav-link.active {
    color: #45b649;
    background: #fff;
  }

  @media (min-width: 992px) {
    .nav-pills-custom .nav-link::before {
      content: "";
      display: block;
      border-top: 8px solid transparent;
      border-left: 10px solid #fff;
      border-bottom: 8px solid transparent;
      position: absolute;
      top: 50%;
      right: -10px;
      transform: translateY(-50%);
      opacity: 0;
    }
  }
  .nav-pills-custom .nav-link.active::before {
    opacity: 1;
  }
}

/* The Modal (background) */
// .modal {
//   display: block; /* Hidden by default */
// position: fixed; /* Stay in place */
// z-index: 1; /* Sit on top */
// padding-top: 100px; /* Location of the box */
// left: 0;
// top: 0;
// width: 100%; /* Full width */
// height: 100%; /* Full height */
// overflow: auto; /* Enable scroll if needed */
// background-color: rgb(0, 0, 0); /* Fallback color */
// background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
// }

/* Modal Content */

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.adminpanel {
  &__nav-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    max-width: 1280px;
    margin: 0 auto;
  }

  &__wrap {
    width: 100%;
  }

  &__header {
    border-bottom: 1px solid rgba(51, 51, 51, 0.13);
    box-shadow: 0 0 4px 1px rgba(0, 0, 255, 0.1);
    &__link {
      cursor: pointer;
      border: 1px solid black;
      background: white;
      padding: 5px 10px;
      width: 200px;
      margin: 40px auto 0 auto;
    }
  }

  &__product-header {
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-around;
    margin: 20px;
  }
  &__product-title {
    font-size: 30px;
  }
  &__product-counter {
    font-size: 20px;
    margin-left: 20px;
  }
  &__product-link {
    font-size: 20px;
    margin-left: 20px;
  }

  &__table {
    padding: 5px;
    border: 1px solid rgba(51, 51, 51, 0.13);
    box-shadow: 0 0 4px 1px rgba(0, 0, 255, 0.1);
    border-radius: 5px;
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
    background: white;
    font-size: 14px;

    &-title {
      background: #f7f9f8;
      width: 100%;
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
      padding: 10px 5px;
      font-size: 16px;
      div {
        &:nth-child(1) {
          flex: 0 0 8.33333%;
          max-width: 8.33333%;
        }
        &:nth-child(2) {
          flex: 0 0 16.66667%;
          max-width: 16.66667%;
        }
        &:nth-child(3) {
          flex: 0 0 8.33333%;
          max-width: 8.33333%;
        }
        &:nth-child(4) {
          flex: 0 0 25%;
          max-width: 25%;
        }
        &:nth-child(5) {
          flex: 0 0 8.33333%;
          max-width: 8.33333%;
        }
        &:nth-child(6) {
          flex: 0 0 8.33333%;
          max-width: 8.33333%;
        }
        &:nth-child(7) {
          flex: 0 0 8.33333%;
          max-width: 8.33333%;
        }
        &:nth-child(8) {
          flex: 0 0 8.33333%;
          max-width: 8.33333%;
        }
      }
      &-order {
        background: #f7f9f8;
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        padding: 10px 5px;
        font-size: 16px;
        div {
          flex: 0 0 25%;
          max-width: 25%;
          &:first-child {
            flex: 0 0 8.33333%;
            max-width: 8.33333%;
          }
        }
      }
    }

    &-item {
      max-height: 70px;
      width: 100%;
      padding: 10px 0 25px 10px;
      border-bottom: 1px solid rgba(51, 51, 51, 0.13);
      position: relative;
      display: flex;
      align-items: center;
      div {
        &:nth-child(1) {
          flex: 0 0 8.33333%;
          max-width: 8.33333%;
        }
        &:nth-child(2) {
          flex: 0 0 16.66667%;
          max-width: 16.66667%;
        }
        &:nth-child(3) {
          flex: 0 0 8.33333%;
          max-width: 8.33333%;
        }
        &:nth-child(4) {
          flex: 0 0 25%;
          max-width: 25%;
        }
        &:nth-child(5) {
          flex: 0 0 8.33333%;
          max-width: 8.33333%;
        }
        &:nth-child(6) {
          flex: 0 0 8.33333%;
          max-width: 8.33333%;
        }
        &:nth-child(7) {
          flex: 0 0 8.33333%;
          max-width: 8.33333%;
        }
        &:nth-child(8) {
          flex: 0 0 8.33333%;
          max-width: 8.33333%;
        }
      }
      &:last-child {
        border-bottom: 0;
      }
      &-order {
        max-height: 70px;
        width: 100%;
        padding: 10px 0 25px 10px;
        border-bottom: 1px solid rgba(51, 51, 51, 0.13);
        display: flex;
        align-items: center;

        div {
          flex: 0 0 25%;
          max-width: 25%;

          &:first-child {
            flex: 0 0 8.33333%;
            max-width: 8.33333%;
          }
        }
        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }

  &__apend {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 4px 1px rgba(0, 0, 255, 0.1);
    margin: 50px auto 20px;
    padding: 20px;
    border: 1px solid transparent;
    width: 100;

    &-item {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 0 20px;
    }
    &-img {
      display: flex;
      flex-direction: column;
      align-items: center;
      label {
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        text-align: center;
      }
    }
    &_img {
      font-size: 13px;
      padding: 6px 0 4px 10px;
      margin: 5px 0;
      border: 1px solid #cecece;
      background: #f6f6f6;
      border-radius: 8px;
    }
    &-description {
      margin: 10px 20px;
    }
    &-info {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 20px;
    }
    &-namedis {
      display: block;
      text-align: center;
      margin-bottom: 5px;
    }
    &-input {
      width: 300px;
      font-size: 13px;
      padding: 6px 0 4px 10px;
      margin: 5px 0;
      border: 1px solid #cecece;
      background: #f6f6f6;
      border-radius: 8px;
    }
    &-textarea {
      overflow: auto;
      resize: none;
      width: 300px;
      height: 100px;
      background: #f6f6f6;
      border: 1px solid #cecece;
      border-radius: 8px;
      padding: 8px 0 8px 10px;
    }
    &-submit {
      margin: 0 auto;
      cursor: pointer;
      border: 1px solid #cecece;
      background: #f6f6f6;
      box-shadow: inset 0px 20px 20px #ffffff;
      border-radius: 8px;
      padding: 8px 14px;
      width: 150px;
      text-align: center;
      &:hover {
        box-shadow: inset 0px -20px 20px #ffffff;
      }
    }

    &-select {
      width: 100px;
      font-size: 13px;
      padding: 6px 0 4px 10px;
      margin: 10px 0;
      border: 1px solid #cecece;
      background: #f6f6f6;
      border-radius: 8px;
    }
  }
}
.item-actions {
  display: none;
}
.item-actions {
  display: flex;
  position: absolute;
  right: 20px;
  width: 100px;
  justify-content: center;
  background: white;
  align-items: center;
}
.edit {
  background-image: url("../img/icons/svg/edit.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 15px;
  height: 17px;
  margin-right: 10px;
  cursor: pointer;
}
