.header {
  &_upper_content {
    border-bottom: 2px solid white;

    .header_notification {
      background: black;
      padding: 3px 0;
      width: 100%;
      border-bottom: 2px solid white;
      text-align: center;

      p {
        color: white;
        font-size: 13px;
      }

      @include media('<sm') {
        padding: 3px 8px;
        margin-top: 20px;
        p {
          font-size: 11px;
        }
      }
    }

    @include media('<sm') {
      .item_logo_title {
        justify-content: center;
        margin: 15px 0;
      }
    }

    .main_logo {
      background-position: center;
      background-size: cover;
      width: 80px;
      height: 60px;
      background-image: url("../img/icons/svg/new_header_logo.svg");
    }

    .main_title {
      font-size: 21px;

      @include media('<sm') {
        font-size: 17px;
      }
    }

    .login {
      &_icon {
        background-image: url("../img/icons/svg/user_icon.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0 auto;
        width: 15px;
        height: 17px;
      }

      &_title {
        font-size: 13px;
      }

    }

    .currency_wrapper {
      font-size: 14px;
      margin-right: 30px;
      border: none;
      margin-top: 15px;
      position: relative;
      cursor: pointer;

      &_hidden {
        position: absolute;
        background: white;
        width: 60px;

        p {
          font-size: 14px;
        }
      }

    }

    .cart {
      font-size: 13px;

      &_icon {
        background-image: url("../img/icons/svg/mobile_cart.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 25px;
        height: 25px;
        position: relative;

        &:after {
          content: "0";
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 3px 5px;
          border-radius: 50%;
          color: #fff;
          background-color: #000;
          right: -7px;
          top: 0;
          font-size: 10px;
        }
      }

      &_value {
        margin-right: 10px;
      }

    }

    .login_wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 20px;
    }

    .cart_wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 125px;
      height: 100%;
      background-color: #ffece9;
      cursor: pointer;
    }
  }

  &_lower_content {
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    padding: 15px 0;
    justify-content: space-between;

    .links_wrapper {
      display: flex;
      align-items: center;
      max-width: 70%;

      .item {
        color: black;
        margin-right: 30px;
        font-size: 16px;
        cursor: pointer;
        position: relative;

        &:hover {
          &:after {
            position: absolute;
            content: '';
            bottom: 0;
            border-bottom: 1px solid black;
            width: 100%;
            left: 0;
          }
        }
      }
    }
  }

  .navbar-right {
    margin-left: 20px;
  }

  $main-color: #6394F8;
  $light-text: #ABB0BE;
  @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

  .cart_holder {
    cursor: pointer;
  }

  nav {

    .navbar-left {
      float: left;
    }

    .navbar-right {
      float: right;
      display: flex;
      align-items: center;
      margin-left: 20px;
    }

    ul {

      li {
        display: inline;
        padding-left: 20px;

        .fa-shopping-cart {
          color: #000;
        }
      }
    }
  }

  .container_cart {
    margin: auto;
    width: calc(90% - 40px);
    position: absolute;
    z-index: 2;
    left: 60px;

    @include media('<sm') {
      top: 40px;
    }
  }

  .badge {
    background-color: black;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    height: 22px;
  }

  .shopping-cart {
    margin: 20px 0;
    float: right;
    background: white;
    width: 300px;
    position: relative;
    border-radius: 3px;
    padding: 20px;

    .oc-text-gray.minimal-order {
      font-size: 14px;
      text-align: center;
    }

    .shopping-cart-header {
      border-bottom: 1px solid #E8E8E8;
      padding-bottom: 15px;

      .shopping-cart-total {
        float: right;
      }
    }

    .shopping-cart-items {

      padding-top: 20px;

      li {
        margin-bottom: 18px;
      }

      div.img {
        float: left;
        margin-right: 12px;
        width: 70px;
        height: 70px;
      }

      .item-name {
        display: block;
        padding-top: 10px;
        font-size: 16px;
        margin-bottom: 5px;
      }

      .item-price {
        margin-right: 8px;
      }

      .oc-text-gray {
        font-size: 14px;
      }

      .btn_remove_item {
        border: 0;
        position: absolute;
        right: 25%;
        background: white;

        span {
          background: white;
        }
      }

    }

  }

  .shopping-cart:after {
    bottom: 100%;
    left: 89%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: white;
    border-width: 8px;
    margin-left: -8px;
  }

  .cart {
    &-text {
      display: flex;
    }

    &-icon {
      color: black;
      font-size: 24px;
      margin-right: 7px;
      float: left;
      background-image: url("../img/icons/svg/mobile_cart.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 25px;
      height: 25px;
    }

  }

  .button {
    background: black;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    font-size: 16px;
    margin: 25px 0 15px 0;
    transition: .4s;

    &:hover {
      background: #92b7f1;
    }
  }

  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  .switch-lang {
    min-width: 40px;
    text-align: left;
    cursor: pointer;
    z-index: 50;
    position: absolute;
    top: -6px;
    right: 0;

    @include media('<sm') {
      top: -75px;
    }
  }

  .lang-dropdown.active {
    display: flex;
    flex-direction: column;
  }

  .switcher-link {
    color: #fff;
  }

  .switcher-link:hover {
    color: #fff;
  }

  .current-lang {
    //padding: 3px 5px 0px 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }

  .lang-flag {
    width: 20px;
    display: inline-block;
  }

  .lang-text {
    padding: 3px 0px 3px 0px;
    display: inline-block;
    margin-left: 5px;
    vertical-align: top;
    margin-top: 2px;
    font-size: 14px;
    text-transform: uppercase;
  }

  .lang-dropdown {
    display: none;
    background: white;
    border-radius: 5px;
    margin-top: 2px;
  }

  .selecting-lang {
    padding: 3px 5px 3px 5px;
    cursor: pointer;
  }

  .selecting-lang:hover {
    background: none;
  }

  ul > :first-child {
    border-radius: 5px 5px 0px 0px;
  }

  ul > :last-child {
    border-radius: 0px 0px 5px 5px;
  }

  li {
    list-style-type: none;
  }

  .menu-arrow {
    display: inline-block;
    width: 10px;
    margin-left: 10px;
    vertical-align: top;
    margin-top: 6px;
  }

}

#currencySelector {
  height: 40px;
  margin: auto 20px auto;
}

#mob_currencyHolder {
  #currencySelector {
    margin: 0;
  }
}


#currencySelector,
.lang-selector {
  position: relative;
  background-color: #92b7f1;
  color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  padding: 7px 30px 7px 15px;
  border: 1px solid #fff;
  cursor: pointer;
}

.selector_arrow {
  position: absolute;
  content: "";
  background-image: url("../img/icons/svg/arrow.svg");
  width: 10px;
  height: 10px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: cornflowerblue;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

  .title {
    color: white;
    padding: 0 0 10px 32px;
    font-size: 22px;
  }

  .closebtn {
    color: white;
    font-size: 18px;
    position: absolute;
    top: 30px;
    right: 25px;
    margin-left: 50px;
  }

  .categories {
    .item {
      display: block;
      padding: 8px 8px 8px 32px !important;
      text-decoration: none;
      font-size: 16px;
      color: #f1f1f1;
      transition: 0.3s;
    }
  }
}

@include media('<sm') {
  .header_top_block,
  .header_lower_content {
    display: none !important;
  }
}

.header-mob-actions-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header-mob-sidebar-open {
    display: inline;
    font-size: 30px;
    cursor: pointer;
    margin-top: 10px;
  }

  .header-mob-cart-trigger {
    display: inline;
    background-image: url("../img/icons/svg/mobile_cart.svg");
    width: 25px;
    height: 25px;
    margin-top: 10px;
  }
}

.select-wrapper {
  position: relative;
  margin: auto 0;

  &:after {
    content: url("../img/icons/svg/arrow.svg");
    width: 7px;
    height: 7px;
    color: black;
    display: inline-block;
    position: absolute;
    right: 40px;
    top: 10px;
    pointer-events: none;
    z-index: 1;
    transform: scale(.03);
  }

  &.lang {
    &:after {
      right: 20px;
      top: 6px;
    }
  }
}
