.header {
  &_upper_content {
	border-bottom: 2px solid white;

	.header_notification {
	  background: black;
	  padding: 3px 0;
	  width: 100%;
	  border-bottom: 2px solid white;
	  text-align: center;

	  p {
		color: white;
		font-size: 13px;
	  }
	}

	.main_logo {
	  background-position: center;
	  background-size: cover;
	  width: 60px;
	  height: 60px;
	  background-image: url("https://instagram.fiev1-1.fna.fbcdn.net/v/t51.2885-19/s150x150/80604065_2458251514503395_7412968151073161216_n.jpg?_nc_ht=instagram.fiev1-1.fna.fbcdn.net&_nc_ohc=Zd0dMUsHy9gAX_ht3Z1&oh=705cd8d782371b8bd90d41c3646a83a0&oe=5F5AF6DD");
	}

	.main_title {
	  font-size: 21px;

	  @include media('<sm') {
		font-size: 17px;
	  }
	}

	.login {
	  &_icon {
		background-image: url("../img/icons/svg/user_icon.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		margin: 0 auto;
		width: 15px;
		height: 17px;
	  }

	  &_title {
		font-size: 13px;
	  }

	}

	.currency_wrapper {
	  font-size: 14px;
	  margin-right: 30px;
	  border: none;
	  margin-top: 15px;
	  position: relative;
	  cursor: pointer;

	  &_hidden {
		position: absolute;
		margin-top: 10px;
		background: white;
		width: 60px;

		p {
		  font-size: 14px;
		}
	  }

	}

	.cart {
	  font-size: 13px;

	  &_icon {
		background-image: url("https://assets.safira.com/static/version1595826986/frontend/Swace/safira/en_US/images/minicart-icon2.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		width: 25px;
		height: 25px;
		position: relative;

		&:after {
		  content: "0";
		  position: absolute;
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  padding: 3px 5px;
		  border-radius: 50%;
		  color: #fff;
		  background-color: #000;
		  right: -7px;
		  top: 0;
		  font-size: 10px;
		}
	  }

	  &_value {
		margin-right: 10px;
	  }

	}

	.login_wrapper {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  margin-right: 20px;
	}

	.cart_wrapper {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  width: 125px;
	  height: 100%;
	  background-color: #ffece9;
	  cursor: pointer;
	}
  }

  &_lower_content {
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
	padding: 15px 0;

	.col-sm-2,
	.col-sm-1 {
	  cursor: pointer;
	  font-size: 14px;
	}

	.item {
	  color: black;
	  transition: .4s;

	  &:hover {
		font-size: 17px;
	  }
	}
  }

  $main-color: #6394F8;
  $light-text: #ABB0BE;
  @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

  .cart_holder {
	cursor: pointer;
  }

  nav {

	.navbar-left {
	  float: left;
	}

	.navbar-right {
	  float: right;
	  display: flex;
	  align-items: center;
	}

	ul {

	  li {
		display: inline;
		padding-left: 20px;

		.fa-shopping-cart {
		  color: #000;
		}
	  }
	}
  }

  .container_cart {
	margin: auto;
	width: calc(90% - 40px);
	position: absolute;
	z-index: 1;
	left: 60px;
  }

  .badge {
	background-color: black;
	border-radius: 10px;
	color: white;
	display: inline-block;
	font-size: 12px;
	line-height: 1;
	padding: 3px 7px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
  }

  .shopping-cart {
	//display: none;
	margin: 20px 0;
	float: right;
	background: white;
	width: 320px;
	position: relative;
	border-radius: 3px;
	padding: 20px;

	.oc-text-gray.minimal-order {
	  font-size: 14px;
	  text-align: center;
	}

	.shopping-cart-header {
	  border-bottom: 1px solid #E8E8E8;
	  padding-bottom: 15px;

	  .shopping-cart-total {
		float: right;
	  }
	}

	.shopping-cart-items {

	  padding-top: 20px;

	  li {
		margin-bottom: 18px;
	  }

	  div.img {
		float: left;
		margin-right: 12px;
		width: 70px;
		height: 70px;
	  }

	  .item-name {
		display: block;
		padding-top: 10px;
		font-size: 16px;
		margin-bottom: 5px;
	  }

	  .item-price {
		margin-right: 8px;
	  }

	  .item-quantity {
		color: $light-text;
		font-size: 14px;
	  }


	}

  }

  .shopping-cart:after {
	bottom: 100%;
	left: 89%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: white;
	border-width: 8px;
	margin-left: -8px;
  }

  .cart-icon {
	color: black;
	font-size: 24px;
	margin-right: 7px;
	float: left;
  }

  .button {
	background: black;
	color: white;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	display: block;
	border-radius: 3px;
	font-size: 16px;
	margin: 25px 0 15px 0;
	transition: .4s;

	&:hover {
	  background: #92b7f1;
	}
  }

  .clearfix:after {
	content: "";
	display: table;
	clear: both;
  }

  .switch-lang {
	min-width: 40px;
	text-align: left;
	cursor: pointer;
	z-index: 50;
	position: absolute;
	top: -6px;
	right: 0;

	@include media('<sm') {
	  top: -75px;
	}
  }

  .lang-dropdown.active {
	display: flex;
	flex-direction: column;
  }

  .switcher-link {
	color: #fff;
  }

  .switcher-link:hover {
	color: #fff;
  }

  .current-lang {
	//padding: 3px 5px 0px 5px;
	border-radius: 5px;
	display: flex;
	align-items: center;
  }

  .lang-flag {
	width: 20px;
	display: inline-block;
  }

  .lang-text {
	padding: 3px 0px 3px 0px;
	display: inline-block;
	margin-left: 5px;
	vertical-align: top;
	margin-top: 2px;
	font-size: 14px;
	text-transform: uppercase;
  }

  .lang-dropdown {
	display: none;
	background: white;
	border-radius: 5px;
	margin-top: 2px;
  }

  .selecting-lang {
	padding: 3px 5px 3px 5px;
	cursor: pointer;
  }

  .selecting-lang:hover {
	background: none;
  }

  ul > :first-child {
	border-radius: 5px 5px 0px 0px;
  }

  ul > :last-child {
	border-radius: 0px 0px 5px 5px;
  }

  li {
	list-style-type: none;
  }

  .menu-arrow {
	display: inline-block;
	width: 10px;
	margin-left: 10px;
	vertical-align: top;
	margin-top: 6px;
  }

}
