.socials {
  .image {
	width: auto;
	height: 400px;

	@include media('<sm') {
	  height: 230px;
	}

	.icons {
	  height: 100%;
	  display: flex;
	  justify-content: center;
	  align-items: center;

	  .icon {
		height: 50px;
		width: 50px;
		background-color: white;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;

		&:nth-child(2) {
		  margin: 0 50px;
		  @include media('<sm') {
			margin: 0 0 0 25px;
		  }
		}

		.fb,
		.ig {
		  position: absolute;
		  margin: 0 auto;
		  height: 30px;
		  width: 30px;
		  background-repeat: no-repeat;
		  background-size: cover;

		}
	  }

	}
  }

  .blue_bg {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #92b7f1;
	@include media('<sm') {
	  height: 70px;
	}

	p {
	  font-weight: bolder;
	  color: white;
	  font-size: 52px;

	  @include media('<md') {
		font-size: 46px;
	  }

	  @include media('<sm') {
		font-size: 21px;
	  }
	}
  }

}