.socials {

  .icons {
	height: 100%;
	display: flex;
	justify-content: flex-end;

	.icon {
	  width: 30px;
	  display: flex;
	  justify-content: end;

	  .ig {
		height: 30px;
		width: 30px;
		background-repeat: no-repeat;
		background-size: cover;
	  }
	}
  }
}
