<footer class="footer mt-50 mb-30">
    <div class="row footer_content">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="row">
                    <div class="item d-flex flex-column mr-50">
                        <p>Top Categories</p>
                        <a href="">Some text</a>
                        <a href="">Some text</a>
                        <a href="">Some text</a>
                        <a href="">Some text</a>
                    </div>
                    <div class="item d-flex flex-column mr-50">
                        <p>Customer Service</p>
                        <a href="">Some text</a>
                        <a href="">Some text</a>
                    </div>
                    <div class="item d-flex flex-column mr-50">
                        <p>About us</p>
                        <a href="">Some text</a>
                        <a href="">Some text</a>
                        <a href="">Some text</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center copyright mt-100">
        <p class="mr-15">© Silver Rain. All rights reserved.</p>
        <a href="" class="privacy-policy">Privacy Policy</a>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script src="js/main.min.js"></script>