<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/main.min.css">
<header class="header">
    <div class="row no-gutters header_upper_content">
        <div class="col-md-12">
            <div class="row no-gutters">
                <div class="header_notification">
                    <p>SilverRain Israel jewelry company since 2012. All silver products made in Italy.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 d-flex align-items-center item">
                    <a href="/main-page.html"
                       class="main_logo image mr-15"></a>
                    <p class="article-level-1">Silver Rain</p>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <div class="item login_wrapper">
                        <a href="javascript:void(0);" class="login">
                            <div class="login_icon"></div>
                            <p class="login_title">Login</p>
                        </a>
                    </div>
                    <div class="item d-flex">
                        <ul class="navbar-right d-flex align-items-center">
                            <li>
                                <a href="#" id="cart" class="color-black cart-text">
                                    <i class="fa fa-shopping-cart cart-icon"></i>
                                    <span class="badge" id="cartQuantityHeader">0</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container_cart">
        <div class="shopping-cart" style="display: none;">
            <div class="shopping-cart-header">
                <i class="fa fa-shopping-cart cart-icon"></i><span class="badge">3</span>
                <div class="shopping-cart-total">
                    <span class="lighter-text">Total:</span>
                    <span class="main-color-text">$2,229.97</span>
                </div>
            </div> <!--end shopping-cart-header -->

            <ul class="shopping-cart-items">
                <li class="clearfix">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item1.jpg" alt="item1" />
                    <span class="item-name">Sony DSC-RX100M III</span>
                    <span class="item-price">$849.99</span>
                    <span class="item-quantity">Quantity: 01</span>
                </li>

                <li class="clearfix">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item2.jpg" alt="item1" />
                    <span class="item-name">KS Automatic Mechanic...</span>
                    <span class="item-price">$1,249.99</span>
                    <span class="item-quantity">Quantity: 01</span>
                </li>

                <li class="clearfix">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item3.jpg" alt="item1" />
                    <span class="item-name">Kindle, 6" Glare-Free To...</span>
                    <span class="item-price">$129.99</span>
                    <span class="item-quantity">Quantity: 01</span>
                </li>
            </ul>

            <a href="#" class="button">Checkout</a>
        </div> <!--end shopping-cart -->
    </div> <!--end container -->
    <div class="row no-gutters header_lower_content">
        <div class="col-sm-12">
            <a href="javascript:void(0);" class="col-sm-2 pl-0 item">Rings</a>
            <a href="javascript:void(0);" class="col-sm-2 item">Bracelets</a>
            <a href="javascript:void(0);" class="col-sm-2 item">Pendants</a>
            <a href="javascript:void(0);" class="col-sm-2 item">Earrings</a>
            <a href="javascript:void(0);" class="col-sm-2 item">Chokers / Necklaces</a>
        </div>
    </div>
</header>