<!--settings start-->
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/main.min.css">
<!--settings end-->

<header class="header">
    <div class="row no-gutters header_upper_content">
        <div class="col-md-12">
            <div class="row no-gutters">
                <div class="header_notification">
                    <p>SilverRain Israel jewelry company since 2012. All silver products made in Italy. TEST STAGE</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 d-flex align-items-center item">
                    <a href="/main-page.html"
                       class="main_logo image mr-15"></a>
                    <p class="article-level-1 main_title">Silver Rain</p>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <div id="currency" class="currency_wrapper">
                        <p id="currentCurrencyMain">$ USD</p>
                        <div class="currency_wrapper_hidden d-none">
                            <p id="currencySecondary">€ EUR</p>
                        </div>
                        <p class="currentCurrencyVal" style="display: none; opacity: 0; visibility: hidden"></p>
                    </div>
                    <div class="item login_wrapper">
                        <a href="/login-page.html" class="login">
                            <div class="login_icon"></div>
                            <p class="login_title">Login</p>
                        </a>
                    </div>
                    <div class="item d-flex">
                        <ul class="navbar-right d-flex align-items-center">
                            <li>
                                <a href="#" id="cart" class="color-black cart-text">
                                    <i class="fa fa-shopping-cart cart-icon"></i>
                                    <span class="badge" id="cartQuantityHeader">0</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container_cart">
        <div class="shopping-cart" style="display: none;">
            <div class="shopping-cart-header">
                <i class="fa fa-shopping-cart cart-icon"></i><span class="badge" id="cartQuantityContainer">0</span>
                <div class="shopping-cart-total">
                    <span class="lighter-text">Total:</span>
                    <span class="main-color-text" id="cartTotalSumHeader"></span>
                </div>
            </div>

            <ul class="shopping-cart-items" id="shoppingCartContainer"></ul>
            <p class="article-level-4 empty_cart fz-16 text-center">Your cart is empty. Buy something ;-)</p>
            <a href="/checkout-page.html" class="button">Checkout</a>
            <p class="oc-text-gray minimal-order">Minimal order for 400$</p>
        </div>
    </div>
    <div class="row no-gutters header_lower_content">
        <div class="col-xs-12 col-sm-10">
            <div class="row no-gutters">
                <p class="col-6 col-sm-2 pl-0 item" id="catAllItems">All Items</p>
                <p class="col-6 col-sm-2 item" id="ringsTestString">Rings</p>
                <p class="col-6 col-sm-2 item" id="braceletsTestString">Bracelets</p>
                <p class="col-6 col-sm-2 item" id="pedantsTestString">Pendants</p>
                <p class="col-6 col-sm-2 item" id="earringsTestString">Earrings</p>
                <p class="col-6 col-sm-2 item" id="chokersNecklacesTestString">Necklaces</p>
            </div>
        </div>
        <div class="col-sm-2">

            <div class="switch-lang">
                <a href="" class="current-lang">
                    <p class="lang-text">EN</p>
                </a>
                <div class="lang-dropdown">
                    <div class="selecting-lang" id="lang_ru">
                        <p class="lang-text">RU</p>
                    </div>
                    <div class="selecting-lang" id="lang_ua">
                        <p class="lang-text">UA</p>
                    </div>
                    <div class="selecting-lang" id="lang_en">
                        <p class="lang-text">EN</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>