<div id="mySidenav" class="sidenav d-sm-none">
    <a href="javascript:void(0)" class="closebtn" id="mobCloseSidenav">&times;</a>
    <div class="categories">
        <p class="title">Categories</p>
        <p class="item categoryAllItems" id="mob_categoryAllItems">All Items</p>
        <p class="item ringsCategory" id="mob_ringsCategory">Rings</p>
        <p class="item braceletsCategory" id="mob_braceletsCategory">Bracelets</p>
        <p class="item pedantsCategory" id="mob_pedantsCategory">Pendants</p>
        <p class="item earringsCategory" id="mob_earringsCategory">Earrings</p>
        <p class="item chokersNecklacesCategory" id="mob_chokersNecklacesCategory">Necklaces</p>
        <p class="item setsCategory" id="mob_setsCategory">Sets</p>
        <hr>
        <!--        <div class="item" id="mob_currencyHolder"></div>-->
        <div class="item" id="mob_languageHolder"></div>
        <hr>
        <!--        <div class="login_wrapper">-->
        <!--            <a href="/login-page.html" class="login">-->
        <!--                <p class="item login-title">Login</p>-->
        <!--            </a>-->
        <!--        </div>-->
    </div>
</div>
<div class="header-mob-actions-holder d-sm-none">
    <div id="mobOpenSidenav" class="header-mob-sidebar-open">&#9776;</div>
    <div class="header-mob-cart-trigger"></div>
</div>

<header class="header">
    <div class="row no-gutters header_upper_content">
        <div class="col-md-12">
            <div class="row no-gutters">
                <div class="header_notification">
                    <p>SilverRain Israel jewelry company since 2012. All silver products made in Italy. TEST STAGE</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 d-flex align-items-center item item_logo_title">
                    <a href="/main-page.html"
                       class="main_logo image mr-15"></a>
                    <p class="article-level-1 main_title">Silver Rain</p>
                </div>
                <div class="col-md-6 d-flex justify-content-end header_top_block">
                    <!--                    <div class="select-wrapper">-->
                    <!--                        <select id="currencySelector"></select>-->
                    <!--                    </div>-->
                    <!--                    <div class="item login_wrapper">-->
                    <!--                        <a href="/login-page.html" class="login">-->
                    <!--                            <div class="login_icon"></div>-->
                    <!--                            <p class="login_title">Login</p>-->
                    <!--                        </a>-->
                    <!--                    </div>-->

                    <div class="select-wrapper lang">
                        <select id="languageSelector" class="lang-selector"></select>
                    </div>

                    <div class="item d-flex cart_holder">
                        <ul class="navbar-right d-flex align-items-center">
                            <li>
                                <a id="cart" class="color-black cart-text">
                                    <div class="cart-icon"></div>
                                    <span class="badge" id="cartQuantityHeader">0</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container_cart">
        <div class="shopping-cart d-none">
            <div class="shopping-cart-header">
                <i class="cart-icon"></i><span class="badge" id="cartQuantityContainer">0</span>
                <div class="shopping-cart-total">
                    <span class="lighter-text" id="cartTotal"></span>
                    <span class="main-color-text" id="cartTotalSumHeader"></span>
                </div>
            </div>

            <ul class="shopping-cart-items" id="shoppingCartContainer"></ul>
            <div class="empty-list"></div>
            <a href="/checkout-page.html" class="button" id="cartCheckout"></a>
            <p class="oc-text-gray minimal-order"></p>
        </div>
    </div>
    <div class="row no-gutters header_lower_content">
        <div class="col-xs-12 col-sm-10">
            <div class="row no-gutters">
                <p class="col-6 col-sm-2 pl-0 item categoryAllItems" id="categoryAllItems">All Items</p>
                <p class="col-6 col-sm-1 item ringsCategory" id="ringsCategory">Rings</p>
                <p class="col-6 col-sm-1 item braceletsCategory" id="braceletsCategory">Bracelets</p>
                <p class="col-6 col-sm-1 item pedantsCategory" id="pedantsCategory">Pendants</p>
                <p class="col-6 col-sm-1 item earringsCategory" id="earringsCategory">Earrings</p>
                <p class="col-6 col-sm-2 item chokersNecklacesCategory" id="chokersNecklacesCategory">Necklaces</p>
                <p class="col-6 col-sm-1 item setsCategory" id="setsCategory">Sets</p>
            </div>
        </div>
    </div>
</header>
