<section class="socials">
    <div class="col-md-12 pl-0 pr-0">
        <div class="row no-gutters">
            <div class="col-md-6 pl-0 pr-0">
                <div class="image" style="background: url('https://picsum.photos/640/400')"></div>
                <div class="icons">
                    <a href="" class="icon fb"></a>
                    <a href="" class="icon ig"></a>
                    <a href="" class="icon ig"></a>
                </div>
            </div>
            <div class="col-md-6 pl-0 pr-0 pink_bg"></div>
        </div>
    </div>
</section>