<section class="socials mt-50">
    <div class="col-md-12 pl-0 pr-0">
        <div class="row no-gutters">
            <div class="col-md-6 pl-0 pr-0">
                <div class="image" style="background: url('https://picsum.photos/640/400')">
                    <div class="icons">
                        <a href="FACEBOOK_LINK" class="icon">
                            <span class="fb" style='background-image: url("img/icons/svg/socials/fb_logo.svg");'></span>
                        </a>
                        <a href="FACEBOOK_LINK" class="icon">
                            <span class="ig" style='background-image: url("img/icons/svg/socials/ig_logo.svg");'></span>
                        </a>
                        <a href="FACEBOOK_LINK" class="icon">
                            <span class="fb" style='background-image: url("img/icons/svg/socials/fb_logo.svg");'></span>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-md-6 pl-0 pr-0 pink_bg">
                <p>Our Socials</p>
            </div>
        </div>
    </div>
</section>