.products-page {
  .col-md-12.pl-0,
  .col-md-12.pr-0 {
    padding: 0;
  }

  .cat_item {
    border: 1px solid #000;
    border-radius: 30px;
    background: #f6f6f6;
    text-align: center;
    padding: 5px 15px;

    .link {
      font-size: 15px;
      color: black;
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;

    @include media('<sm') {
      margin: 30px 0;
    }

    &_item {
      border: 1px solid black;
      border-radius: 10px;
      padding: 5px 10px;
      font-size: 14px;
      text-align: center;
      color: black;
    }
  }

  .item {
    border-right: 1px solid gray;
    border-right: 1px solid gray;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 25px;

    .price_cta_preview {
      background: white;
      border: 1px solid black;
      box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.45);
      text-align: center;
      padding: 2px 0 5px 0;
      margin: 0 20px;
      min-height: 40px;
      display: flex;
      align-items: center;
      transition: .4s;

      &:hover {
        box-shadow: none;
      }

      a {
        color: #000;
        padding: 10px 20px;
        font-size: 14px;
        text-align: center;
        line-height: 17px;
      }
    }

    @include media('<sm') {
      border-bottom: 1px solid gray;
      border-right: 0;
    }
  }
}