@font-face {
    font-family: "ProbaPro";
    src: url("../../fonts/ProbaPro/ProbaPro-Regular.woff") format("woff");
    font-weight: 400;
    font-display: fallback;
    // font-display: swap;
}

@font-face {
    font-family: "ProbaPro";
    src: url("../../fonts/ProbaPro/ProbaPro-Medium.woff") format("woff");
    font-weight: 500;
    font-display: fallback;
    // font-display: swap;
}

@font-face {
    font-family: "ProbaPro";
    src: url("../../fonts/ProbaPro/ProbaPro-SemiBold.woff") format("woff");
    font-weight: 600;
    font-display: fallback;
    // font-display: swap;
}

@font-face {
    font-family: "ProbaPro";
    src: url("../../fonts/ProbaPro/ProbaPro-Bold.woff") format("woff");
    font-weight: 700;
    font-display: fallback;
    // font-display: swap;
}
