$font: 'Noto Sans JP', sans-serif;
$font-c: #1D1D1D;
$font-c-title: #1d1d1b;
$font-size-body:18;

$selection: #004BC1;
$white: #fff;
$black: #000;
$orange: #FFBD00;
$soft-grey: #d3d5d9;
$light-grey: #FBFBFB;
$grey: #aab3c6;
$yellow: #ffe358;
$blue: #004BC1;
$blue-old: #2d5ca6;
$red: #ff0000;
$red2: #EE0000;
$red3: #CD0000;
// night-rider
$n-r: #333333;
$n-r-rgba:rgba(51, 51, 51, 0.1);
$n-r-rgba-dark:rgba(51, 51, 51, 0.5);

/* Главние цвета кнопок */
$btn:#FFE358;
$btn-hover-active-orange:#FFCE00;
$btn-active-focus:#4085BF;
$btn-disable: #C4C4C4;
$btn-disable-c:#666666;
$btn-font:#1d1d1b;
$btn-outline-c: #6F777B;
$btn-border:#6d727c;
/* END Главние цвета кнопок */

/* Главние цвета кнопок  ACTION */
$btn-action: #f5f7fa;
$btn-action-hover:#2d5ca6;
$btn-action-active:#234161;
$btn-action-disable:#f5f7fa;
/* END Главние цвета кнопок ACTION */

$tab-grey: #a7a9af; //
$tab-active: rgba(0, 75, 193, .5); //

$bg-menu-old: #304d7c; //
$bg-menu: #273043; //
$bg-menu-light: #234161; //
$bg-input: #577db8; //
$bg-lightgrey: #E0E0E0; //
$bg-form-grey: #E0E0E0; //
$bg-ul-ol-list: #122945; //
$bg-reforms: #f4f7fa; //
$bg-main: #dee4e7; //
$bg-grey: #FAFAFA; //

$error: #B10E1E; //

$font-c-sub-sub-menu: #acb3c3; //

$addition-text: #6b7588; //

$ul-ol-list: #6D727C; //

$overlay-img: rgba(#232B42, 0.4); //
$overlay-mfp-bg: rgba(39, 48, 67, .7); //

$link-c-old: #2d5ca6; //
$link-c: #004bc1; //

$modal-gov-ua: #31486c; //
$text-c-grey: #6D727C; //
$main-slider-nav: rgba(255, 255, 255, 0.96); //

// Only mukachevo Theme
$tabs-color: #464646;
$tabs-border: #EAEAEA;
$slider-nav-bg: #004BC1;
$slider-nav-visible: rgba(255, 255, 255, 0.96);
$digest-bg: #2d5ca6;
