html {
    min-height: 100vh;
}

body {
    // height: 100%; // then => document.documentElement.scrollTop = 0;
    min-height: 100vh;
    overflow: auto;
    overflow-x: hidden;
    font-size: 18px;
    line-height: 1;
    font-family: $font;
    font-weight: 400;
    //background-color: $bg-main;
    -webkit-overflow-scrolling: touch;

    * {
        word-break: keep-all;
        word-wrap: break-word;
        font-family: $font;
    }

    &.active {
        overflow: hidden;
    }

    &.menu-opened {
        overflow: hidden;
        min-height: auto;
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        // pointer-events: none; // not tested

        * {
            // pointer-events: auto; // not tested
        }
    }
}

.wrapper {
    position: relative;
    min-height: 100%;
    margin: 0 auto;
    overflow: hidden;
    max-width: 1280px;
    background-color: $white;
    @include box-shadow(0, 1px, 8px, 0, rgba(0, 0, 0, 0.2));

    @media screen and (max-width: 1240px) {
        width: 100%;
    }
}

main {
    min-height: 300px;
}

.container {
    @include media (">=md") {
        max-width: 100%;
    }
}

#skipnav {
    display: none !important;
}

.content {
    padding: 45px 40px 0 40px;

    &-wrapper {
        padding: 45px 20px;

        @include media ("<xl") {
            padding: 30px 15px;
        }

        @include media ("<sm") {
            padding: 20px 15px;
        }

        &.gradient {
            background: linear-gradient(0deg, #FFFFFF 0%, #F3F7F9 100%);
        }
    }
}

.font-weight {
    &-medium {
        font-weight: 500 !important;
    }

    &-semi {
        font-weight: 600 !important;
    }
}

.bg {
    &-gray {
        // background-color: $light-grey;
        background-color: #F5F7FA;
    }

    &-white {
        background-color: $white;
    }
}

.letter-spacing {
    &-normal {
        letter-spacing: normal !important;
    }
}

.change-opacity {
    opacity: 0;
}

.article-level {
    &-2 {
        @include f-s(32);
        font-family: $font;
        font-weight: 700;
        margin-bottom: 20px;
        line-height: 1em;
        letter-spacing: normal;

        @include media ("<lg") {
            @include f-s(28);
        }
    }

    &-3 {
        @include f-s(28);
        font-family: $font;
        font-weight: 700;
        margin-bottom: 20px;
        line-height: 1em;
        letter-spacing: normal;

        @include media ("<lg") {
            @include f-s(24);
        }
    }

    &-4 {
        @include f-s(24);
        font-family: $font;
        font-weight: 700;
        margin-bottom: 20px;
        line-height: 1.5em;
        letter-spacing: normal;

        @include media ("<lg") {
            @include f-s(20);
        }
    }

    &-5 {
        @include f-s(22);
        font-family: $font;
        font-weight: 700;
        margin-bottom: 15px;
        line-height: 1.5em;
        letter-spacing: normal;

        @include media ("<lg") {
            margin-top: 20px;
            @include f-s(18);
        }
    }

    &-6 {
        @include f-s(20);
        font-family: $font;
        font-weight: 600;
        margin-bottom: 15px;
        line-height: 1.5em;
    }
}

.links-item {
    font-family: $font;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: $link-c;

    &_pale {
        font-family: $font;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        color: $link-c;
    }

    &_dark {
        color: $black;
        font-weight: normal;
    }

    &_sm {
        font-size: 16px;
    }
}

.date-item {
    font-family: $font;
    font-size: 14px;
    line-height: 24px;
    color: #7F838C;
}

.future {
    &-svg-icon {
        border: 1px solid $link-c;
        background: lightskyblue;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        margin-right: 20px;

        @include media("<md") {
            width: 35px;
            height: 35px;
        }
    }

    &-img {
        position: relative;
        width: 190px;
        height: 150px;
        margin-right: 20px;
        cursor: pointer;
        background-size: cover;
        background-position: center;

        &-link {
            display: block;
            height: 100%;
            position: relative;
        }
    }
}

.row {
    &-flex {
        display: flex;
        flex-wrap: wrap;

        &-sb {
            display: flex;
            justify-content: space-between;

            @include media("<md") {
                justify-content: center;
                flex-direction: column;
            }
        }

    }
}

@include media("<=sm") {
    .hidden-sm {
        display: none !important;
    }
}

@include media("<=md") {
    .hidden-md {
        display: none !important;
    }
}

.tag-label {
    position: absolute;
    bottom: 20px ;
    left: 20px;
    border-radius: 100px;
    font-weight: bold;
    padding: 10px 15px;
    font-size: 10px;
    color: #FFFFFF;
    border: 2px solid rgba(255, 255, 255, 0.5);
    letter-spacing: 1.1px;
    text-transform: uppercase;

    &:hover {
        text-decoration: none !important;
        color: white;
    }
}

.oc-text-gray {
    color: $text-c-grey;
}

.light_blue_item {
    background: rgba(0, 75, 193, 0.05);
    padding: 10px 0;
    color: $font-c;

    &:hover {
        color: $font-c;
    }

    .links-item {
        color: $font-c;
    }
}

.useful-links-item {
    position: relative;
    background: $bg-grey;
    padding: 27px;

    &:after {
        position: absolute;
        content: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.8297 5.28995L2.5897 1.04995C2.49674 0.95622 2.38613 0.881826 2.26428 0.831057C2.14242 0.780288 2.01171 0.75415 1.8797 0.75415C1.74769 0.75415 1.61698 0.780288 1.49512 0.831057C1.37326 0.881826 1.26266 0.95622 1.1697 1.04995C0.983448 1.23731 0.878906 1.49076 0.878906 1.75495C0.878906 2.01913 0.983448 2.27259 1.1697 2.45995L4.7097 5.99995L1.1697 9.53995C0.983448 9.72731 0.878906 9.98076 0.878906 10.2449C0.878906 10.5091 0.983448 10.7626 1.1697 10.9499C1.26314 11.0426 1.37395 11.116 1.49579 11.1657C1.61763 11.2155 1.74809 11.2407 1.8797 11.2399C2.01131 11.2407 2.14177 11.2155 2.2636 11.1657C2.38544 11.116 2.49626 11.0426 2.5897 10.9499L6.8297 6.70995C6.92343 6.61698 6.99782 6.50638 7.04859 6.38452C7.09936 6.26267 7.1255 6.13196 7.1255 5.99995C7.1255 5.86794 7.09936 5.73723 7.04859 5.61537C6.99782 5.49351 6.92343 5.38291 6.8297 5.28995Z' fill='%23004BC1'/%3E%3C/svg%3E%0A");
        right: 25px;
        top: 32px;
    }

    @include media("<=lg") {
        margin-bottom: 15px;
        padding: 15px;

        &:after {
            top: 20px;
            right: 15px;
        }
    }
}

.person-preview {
    width: 200px;
    height: 230px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include media("<md") {
        margin: 0 auto 20px auto;
    }
}

.text-muted {
    font-family: $font;
    color: #6D727C!important;

    &-sm {
        line-height: 21px;
        font-size: 14px;
        margin-bottom: 8px;
    }
    &-md {
        line-height: 22px;
        font-size: 16px;
        margin-bottom: 5px;
    }
}

.bottom-line {
    border-bottom: 1px solid rgba(51,51,51,0.1);
}

.br-left {
    border-left: 2px solid #122945;
    padding: 20px;
}

a {
    color: $link-c;

    &.span_border {
        &:hover {
            span {
                border-bottom: 1px solid #2d5ca6;
            }
        }
    }
}

p {
    font-family: $font;
    font-weight: 400;
    @include f-s(18);
    color: $font-c-title;
    line-height: 24px;
}

b,
strong {
    font-weight: 700;
    font-family: $font;
}

#layout-content {
    a {
        &:hover {
            text-decoration: underline;
            @include transition(.2s ease-in-out);
        }
    }
}

.position-static-sm {
    @include media ("<sm") {
        position: static;
    }
}

.position-static-md {
    @include media (">=sm", "<md") {
        position: static;
    }
}

.position-static-md {
    @include media (">=md", "<lg") {
        position: static;
    }
}

//      margin top
.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-30 {
    margin-top: 30px;

    @include media("<md") {
        margin-top: 10px;
    }
}

.mt-40 {
    margin-top: 40px;

    @include media ("<md") {
        margin-top: 15px;
    }
}

.mt-50 {
    margin-top: 50px;

    @include media (">=xs", "<md") {
        margin-top: 10px;
    }

    @include media (">=md", "<xl") {
        margin-top: 25px;
    }
}

.mt-60 {
    margin-top: 60px;

    @include media (">=xs", "<md") {
        margin-top: 15px;
    }

    @include media (">=md", "<xl") {
        margin-top: 30px;
    }
}

.mt-80 {
    margin-top: 80px;

    @include media (">=xs", "<md") {
        margin-top: 15px;
    }

    @include media (">=md", "<xl") {
        margin-top: 40px;
    }
}

.mt-100 {
    margin-top: 100px;

    @include media (">=xs", "<md") {
        margin-top: 15px;
    }

    @include media (">=md", "<xl") {
        margin-top: 60px;
    }
}

.mt-120 {
    margin-top: 120px;

    @include media (">=xs", "<md") {
        margin-top: 15px;
    }

    @include media (">=md", "<xl") {
        margin-top: 70px;
    }
}

.mt-140 {
    margin-top: 140px;

    @include media (">=xs", "<md") {
        margin-top: 15px;
    }

    @include media (">=md", "<xl") {
        margin-top: 80px;
    }
}

//      margin bottom
.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;

    @include media("<md") {
        margin-bottom: 10px;
    }
}

.mb-40 {
    margin-bottom: 40px;

    @include media ("<md") {
        margin-bottom: 15px;
    }
}


.mb-50 {
    margin-bottom: 50px;

    @include media (">=xs", "<md") {
        margin-bottom: 10px;
    }

    @include media (">=md", "<xl") {
        margin-bottom: 25px;
    }
}

.mb-60 {
    margin-bottom: 60px;

    @include media (">=xs", "<md") {
        margin-bottom: 15px;
    }

    @include media (">=md", "<xl") {
        margin-bottom: 30px;
    }
}

.mb-80 {
    margin-bottom: 80px;

    @include media (">=xs", "<md") {
        margin-bottom: 15px;
    }

    @include media (">=md", "<xl") {
        margin-bottom: 40px;
    }
}

.mb-100 {
    margin-bottom: 100px;

    @include media (">=xs", "<md") {
        margin-bottom: 15px;
    }

    @include media (">=md", "<xl") {
        margin-bottom: 60px;
    }
}

.mb-120 {
    margin-bottom: 120px;

    @include media (">=xs", "<md") {
        margin-bottom: 15px;
    }

    @include media (">=md", "<xl") {
        margin-bottom: 70px;
    }
}

.mb-140 {
    margin-bottom: 140px;

    @include media (">=xs", "<md") {
        margin-bottom: 15px;
    }

    @include media (">=md", "<xl") {
        margin-bottom: 80px;
    }
}

//  margin right
.mr-15 {
    margin-right: 15px;

    @include media("<md") {
        padding-top: 0;
    }
}

.mr-50 {
    margin-right: 50px;

    @include media (">=xs", "<md") {
        margin-right: 15px;
    }

    @include media (">=md", "<xl") {
        margin-right: 35px;
    }
}

//  margin top
.mt-20 {
    margin-top: 20px;
}

//   padding top
.pt-30 {
    padding-top: 30px;

    @include media ("<md") {
        padding-top: 10px;
    }
}

.pt-40 {
    padding-top: 40px;

    @include media ("<md") {
        padding-top: 15px;
    }
}

.pt-60 {
    padding-top: 60px;

    @include media (">=xs", "<md") {
        padding-top: 15px;
    }

    @include media (">=md", "<xl") {
        padding-top: 40px;
    }
}

.pt-80 {
    padding-top: 80px;

    @include media (">=xs", "<md") {
        padding-top: 15px;
    }

    @include media (">=md", "<xl") {
        padding-top: 50px;
    }
}

.pt-100 {
    padding-top: 100px;

    @include media (">=xs", "<md") {
        padding-top: 15px;
    }

    @include media (">=md", "<xl") {
        padding-top: 60px;
    }
}

.pt-120 {
    padding-top: 120px;

    @include media (">=xs", "<md") {
        padding-top: 15px;
    }

    @include media (">=md", "<xl") {
        padding-top: 70px;
    }
}

// padding right
.pr-10 {
    padding-right: 10px;
}
// padding left
.pl-10 {
    padding-left: 10px;
}

//    padding  bottom
.pb-30 {
    padding-bottom: 30px;

    @include media ("<md") {
        padding-bottom: 15px;
    }
}

.pb-40 {
    padding-bottom: 40px;

    @include media ("<md") {
        padding-bottom: 15px;
    }
}

.pb-60 {
    padding-bottom: 60px;

    @include media (">=xs", "<md") {
        padding-bottom: 15px;
    }

    @include media (">=md", "<xl") {
        padding-bottom: 40px;
    }
}

.pb-80 {
    padding-bottom: 80px;

    @include media (">=xs", "<md") {
        padding-bottom: 15px;
    }

    @include media (">=md", "<xl") {
        padding-bottom: 50px;
    }
}

.pb-100 {
    padding-bottom: 100px;

    @include media (">=xs", "<md") {
        padding-bottom: 15px;
    }

    @include media (">=md", "<xl") {
        padding-bottom: 60px;
    }
}

.pb-120 {
    padding-bottom: 120px;

    @include media (">=xs", "<md") {
        padding-bottom: 15px;
    }

    @include media (">=md", "<xl") {
        padding-bottom: 70px;
    }
}

//    letter-spacing
.ls-0 {
    letter-spacing: 0;
}
.ls-1 {
    letter-spacing: 1px;
}

//    line-height
.lh-40 {
    line-height: 40px;
}

.container {
    max-width: 1280px;
}

.fz-16 {
    font-size: 16px !important;
}
.fz-10 {
    font-size: 10px !important;
}

.color-black {
    color: black !important;
}